/*---------- FONTS --------------------*/
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf"); }

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/FontAwesome.otf"); }	

/*---------- body, html--------------------*/
body, html {
  margin-top: 0;
	margin-left: 0;
  margin-right: 0;
	width: 100%;
  height: 100%;
	font-family: 'OpenSans-Light';
}

body {
  overflow-x: hidden;
}


/*---------- Parallax --------------------*/
.parallax {
    /* The image used */
    background-image: url("../img/slider1.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
/* ---------------------------------------
              HEADER
-----------------------------------------*/
header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;

}

  /* ---------- Navbar --------- */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
.topnav {
  overflow: hidden;
  background: transparent;
  position: fixed;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -webkit-transition all: 0.4s ease;
  transition all: 0.4s ease;
}



  .color-change {
    background-color: #fff;
    color: #000;
  }

  .topnav.color-change a {
    color: #000;
  }

.topnav a {
  display: inline-flex;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background: transparent;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {

  .topnav.responsive ul {
    display: block;
  }

  .topnav.responsive .menu {
    padding: 14px 0px;

  }

  .topnav.responsive {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;

  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
    color: #000;
    font-size: 12px;
  }

}
  /* ------------ Scroll down --------- */

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/*--------------------------------------------
              Main
--------------------------------------------*/
main {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
}
section {
  justify-content: space-around;
  flex-wrap: wrap;
} 

h1 {
  font-size: 4rem;
  letter-spacing: 10px;
}

h2 {
  font-size: 24px;
  letter-spacing: 5px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

button {
  text-transform: uppercase;
}

a {
  text-decoration:none; 
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
 
}
  /* -------------- Assets --------------*/

.assets {
  display: flex;
  padding: 4rem;
}
.assets div {
  color: #1E1E1E;
  text-align: center;
  flex-direction: column;
}

.assets i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

  /* -------------- About --------------*/
.about {
  display: flex;
  background-color: #1E1E1E;
  color: #fff;
  text-align: center;
}

.about div {
  flex-direction: row;
}

.about h3 {
  margin-top: 4rem;
}

.about p {
  margin: 0 4rem;
  margin-bottom: 4rem;
}

  /* -------------- Team --------------*/
.team {
  display: flex;
}

.team h2 {
  font-size: 25px;
}
.team div {
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .team div {
    flex-wrap: wrap;
  }
 
}

.team-members {
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.team-members a {
  color: #fff;
}

.team-members img{
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.modal-member {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.team-members article:hover .modal-member {
  opacity: 1;
  color: #fff;
  text-align: center;
}

.team-members article:hover .modal-member a {
  color: #fff;
}

.team-members article {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin: 2%;
  background-color: #1E1E1E;
}

.team-members article:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0.3;

}

.team h3 {
  text-align: center;
}

.team li {
  padding: 0.5rem;
}
  /* -------------- Numbers --------------*/

.numbers {
  background-color: #1E1E1E;
  color: #fff;
  display: flex;
  padding: 4rem;
}

.numbers div {
  flex-direction: row;
  margin: 0 4rem;
}

  /* -------------- Projects --------------*/


.projects h2 {
  text-align: center;
}

.projects ul {
  justify-content: space-around;
  margin: 3rem auto;
  flex-wrap: wrap;
  max-width: 50%;
}

@media screen and (max-width: 600px) {
  .projects ul {
  max-width: 80%;
  }

  .projects .grid {
  display: grid;
  grid-template-columns: 100%;
  }
 
}
@media screen and (min-width: 600px) and (max-width: 979px) {
  .projects .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  }
 
}

@media screen and (min-width: 980px) {
  .projects .grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  }
 
}


.projects a {
  color: #000;
}

.projects a:hover {
  color: #444;
}

.projects .grid img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 /* backface-visibility: hidden;*/
}

.modal-project {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.projects article {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin: 2%;
  background-color: #1E1E1E;
}

.projects article:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0.3;

}

.grid article:hover .modal-project {
  opacity: 1;
  color: #fff;
  text-align: center;
}

.grid article:hover .modal-project  a {
  color: #fff;
}


/*------------ Button -------------------*/
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #1E1E1E;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #1E1E1E;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.load_more {
  display: flex;
  margin: auto;
  padding: 4rem 4rem;
  background-color: #F7F7F7;
}
.load_more button {
  margin: auto;
  color: #fff;
  border: 1px solid #1E1E1E;
  font-size: 16px;
  padding: 1rem 2rem;
  letter-spacing: 3px;
}

  /* -------------- Newsletter --------------*/
.newsletter {
  background-color: #fff;
  text-align: center;
  padding: 4rem 0;
}

.newsletter h3 {
  text-transform: capitalize;
}

.newsletter input {
  border: none;

}
/*---------- boutons --------------------*/
/* Shutter In Horizontal */
.hvr-shutter-black {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #1E1E1E;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-black:hover, .hvr-shutter-black:focus, .hvr-shutter-black:active {
  color: white;
}
.hvr-shutter-black:hover:before, .hvr-shutter-black:focus:before, .hvr-shutter-black:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.subscribe {
  display: flex;
  margin: auto;
  padding: 3rem 4rem;
  background-color: #fff;
}
.subscribe button {
  margin: auto;
  color: #000;
  border: 1px solid #1E1E1E;
  font-size: 16px;
  padding: 1rem 2rem;
  letter-spacing: 3px;
}



  /* -------------- Get started --------------*/
.get-started {
  background-color: #1E1E1E;
  color: #fff;
  text-align: center;
  padding: 4rem 0;
}

/*---------- boutons --------------------*/
.hvr-shutter-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1E1E1E;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-white:hover, .hvr-shutter-white:focus, .hvr-shutter-white:active {
  color: #000;
}
.hvr-shutter-white:hover:before, .hvr-shutter-white:focus:before, .hvr-shutter-white:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.btn_get-started {
  display: flex;
  margin: auto;
  padding: 3rem 4rem;
  background-color: #1E1E1E;
}
.btn_get-started button {
  margin: auto;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 1rem 2rem;
  letter-spacing: 3px;
}

  /* -------------- Services --------------*/
.services {
  background-color: #fff;
  color: #1E1E1E;
  text-align: center;
  margin: 3rem 4rem;
}

.services p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 2;
}

.services .grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 2rem;
}

.services .grid img {
  width: 20%;
}

  /* -------------- Témoignages --------------*/
.testimonials {
  text-align: center;
  color: #fff;
  padding: 4rem;
}

.testimonials p {
  margin: 2rem;
}

  /* -------------- Clients --------------*/
.clients {
  background-color: #F7F7F7;
  padding: 4rem;
}

.clients .grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.clients .grid img {
  width: 50%;
  margin: auto;
}

  /* -------------- Contact --------------*/
.contact {
    text-align: center;
    padding: 4rem;
}

.contact div {
  display: flex;
  margin: auto;
  flex-wrap: wrap;

}

.contact div div {
  flex-direction: column;
}

.contact h2 {
  margin-bottom: 4rem;
}
.contact h4 {
  letter-spacing: 2px;
}

.contact i {
  font-size: 24px;
}

.contact p, .contact address {
  font-size:14px;
  color: #555;
}

.contact a {
  font-size: 14px;
  color: #1E1E1E;}

  /* -------------- Network --------------*/

.network {
  background-color: #F7F7F7;
  padding: 4rem;
  text-align: center;
}

.network ul {
  margin: auto;
  width:30%;
}

.network li {
  margin: auto;
}

.network h4 {
  margin-bottom: 3rem;
}

.network i {
  font-size: 15px;
}

.network a {
  color: #1E1E1E;
}
/*--------------------------------------------
              FOOTER
--------------------------------------------*/
footer {
  background-color: #1E1E1E;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  font-size: 12px;
  letter-spacing: 5px;
}